@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Pixelify+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #000;
}

.section {
  width: 100%;
  position: relative;
}

.flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 12rem;
  z-index: 100;

  margin-left: 1rem;
}

.popSmall {
  transition:  cubic-bezier(0.55, 0.055, 0.675, 0.675) 0.15s;
}
.popSmall:hover {
  scale: 1.05;
  transition:  cubic-bezier(0.55, 0.055, 0.675, 0.675) 0.15s;
}
.pop {
  transition:  cubic-bezier(0.55, 0.055, 0.675, 0.675) 0.15s;
}
.pop:hover {
  scale: 1.1;
  transition:  cubic-bezier(0.55, 0.055, 0.675, 0.675) 0.15s;
}
.popLarge {
  transition:  cubic-bezier(0.55, 0.055, 0.675, 0.675) 0.15s;
}
.popLarge:hover {
  scale: 1.7;
  transition:  cubic-bezier(0.55, 0.055, 0.675, 0.675) 0.15s;
}
.popTurn {
  transition:  cubic-bezier(0.55, 0.055, 0.675, 0.675) 0.15s;
}
.popTurn:hover {
  scale: 1.1;
  rotate: -2deg;
  transition:  cubic-bezier(0.55, 0.055, 0.675, 0.675) 0.15s;
}

.section1 {
  background: url("https://cdn.hackclub.com/019efadb-55fc-7796-a993-d1415b97bf67/background_first_section.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;

  min-height: 1080px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 8rem;
}

.mainTitle {
  font-family: "Covered By Your Grace";
  font-size: 6.5rem;
  font-weight: 400;

  color: #000;

  line-height: 0.8;
  text-align: center;

  -webkit-text-stroke: 1rem white;
  paint-order: stroke fill;

  margin-bottom: 2rem;
}

.topInfo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.meWhenU {
  width: 15rem;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.introText {
  font-family: "Pixelify Sans";
  font-weight: 600;
  font-size: 1.5rem;

  color: black;

  -webkit-text-stroke: 0.75rem white;
  paint-order: stroke fill;

  max-width: 600px;
} 

.submitRow {
  display: flex;
  align-items: center;
  gap: 20px;
}

.submitButton {
  display: block;

  transition: transform 0.15s ease;
}

.submitButton:hover {
  transform: translateY(-6px);
}

.submitButton:active {
  transform: translateY(3px);
}

.submitButton img {
  width: 180px;
}

.questionBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.questionText {
  font-family: "Pixelify Sans", serif;
  font-size: 1.5rem;
  font-weight: 600;

  color: white;

  -webkit-text-stroke: 0.75rem black;
  paint-order: stroke fill;
}

.hajTag {
  color: #777fff;
  text-decoration: none;
  transition: 0.15s ease;
}

.hajTag:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.danceShark {
  width: 5rem;
}

.cardsRow {
  margin-top: 5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0;
}

.card1 {
  height: 22rem;
  margin-right: -6rem;
  margin-bottom: -1rem;
  z-index: 1;
}

.card2 {
  height: 18rem;
  transform: rotate(-2deg);
  margin-right: -2.5rem;
  z-index: 2;
}

.card3 {
  height: 18rem;
  transform: rotate(8deg);
  margin-right: -5rem;
  margin-left: -5rem;
  margin-bottom: -6rem;
  z-index: 3;
}

.card4 {
  height: 22rem;
  transform: rotate(-8deg);
  margin-right: -20px;
  z-index: 2;
}

.card5 {
  height:20rem;
  margin-left: -5rem;
  margin-bottom: -5rem;
  z-index: 1;
}

.section2 {
  background: url("https://cdn.hackclub.com/019efadb-5c0d-7f0f-8516-6e47eb1753e3/background_middle_section.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;

  min-height: 650px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 60px;
  margin-top: -75px;
}

.stepsContainer {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 50px;
}

.step {
  width: 220px;
  text-align: center;
}

.spinShark {
  width: 222px;
}

.shark1 {
  transform: rotate(-10deg);
}

.shark2 {
  transform: rotate(12deg) scaleX(-1) scaleY(-1);
}

.shark3 {
  transform: rotate(-8deg);
}

.shark4 {
  transform: rotate(10deg) scaleX(-1) scaleY(-1);
}

.step p {
  font-family: "Pixelify Sans";
  font-size: 1.5rem;
  font-weight: 600;

  color: white;

  -webkit-text-stroke: 0.75rem black;
  paint-order: stroke fill;

  line-height: 1;
}

.bonusText {
  margin-top: 80px;

  font-family: "Pixelify Sans";
  font-size: 24px;
  font-weight: 600;

  color: white;

  -webkit-text-stroke: 0.75rem black;
  paint-order: stroke fill;

  line-height: 1;

  text-align: center;
  max-width: 1100px;
}

.section3 {
  background: url("https://cdn.hackclub.com/019efadb-58b7-71f8-8b3d-24cdb9049aef/background_last_section.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;

  min-height: 630px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 5rem;
  margin-top:-5rem;
}

.footerTitle {
  font-family: "Covered By Your Grace";

  font-size: 6rem;
  font-weight: 100;

  color: white;

  -webkit-text-stroke: 1rem black;
  paint-order: stroke fill;

  margin-bottom: 1.5rem;
}

.creditText {
  margin-top: -2rem;

  font-family: "Pixelify Sans";
  font-size: 1.3rem;
  font-weight: 600;

  z-index: 3;

  color: black;

  -webkit-text-stroke: 0.75rem white;
  paint-order: stroke fill;

  line-height: 1;
}

.footerImages {
  display: flex;
  gap: 3rem;
}

.footerImages img:nth-child(1) {
  width: 280px;
  margin-top: -2rem;
}

.footerImages img:nth-child(2) {
  margin-top: -2rem;
  width: 350px;
  height: auto;
  aspect-ratio: 1136 / 747;
  object-fit: contain;
}

.footerImages img:nth-child(3) {
  margin-top: -2rem;
  width: 280px;
}

@media (max-width: 1000px) {
  .mainTitle {
    font-size: 80px;
  }

  .topInfo {
    flex-direction: column;
  }

  .cardsRow {
    flex-wrap: wrap;
    gap: 0px;
  }

  .card {
    transform: none !important;
    margin: 0 !important;
  }

  .stepsContainer {
    flex-direction: column;
    align-items: center;
  }

  .footerImages {
    flex-direction: column;
    align-items: center;
  }
}